{% extends "base.html" %}

{% block title %}CPSC113 Todo{% endblock title %}

{% block content %} 
<style>
.demo-card-wide.mdl-card {
  margin-top: 20px;
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__title.login {
  background-color: green;
}
.demo-card-wide > .mdl-card__title.register {
  background-color: blue;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<form action="{% url 'login' %}" method="post">
{% csrf_token %}
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title login">
    <h2 class="mdl-card__title-text">Login</h2>
  </div>
  {{ login_error }}
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="text" id="email" name="email">
	    	<label class="mdl-textfield__label" for="email">Email</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield">
			<input class="mdl-textfield__input" type="password" id="password" name="password">
	    	<label class="mdl-textfield__label" for="password">Password</label>
		</div>
	</form>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored log-in-submit">Submit</button>
  </div>
</div>
</form>

<form action="{% url 'register' %}" method="post">
{% csrf_token %}
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title register">
    <h2 class="mdl-card__title-text">Register</h2>
  </div>
  {{ form.non_field_errors }}
  {{ registration_error }}
  <div class="mdl-card__supporting-text">
    <div class="mdl-textfield mdl-js-textfield">
      {% if form.fl_name.errors %}
        <div class="validation-error"></div>
      {% endif %}
			<input class="mdl-textfield__input" type="text" id="fl_name" name="fl_name">
	    	<label class="mdl-textfield__label" for="fl_name">First & Last Name</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield">
      {% if form.email.errors %}
        <div class="validation-error"></div>
      {% endif %}
			<input class="mdl-textfield__input" type="text" id="email" name="email">
	    	<label class="mdl-textfield__label" for="email">Email</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield">
      {% if form.password.errors %}
        <div class="validation-error"></div>
      {% endif %}
			<input class="mdl-textfield__input" type="password" id="password" name="password">
	    	<label class="mdl-textfield__label" for="password">Password</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield">
      {% if form.password_confirmation.errors %}
        <div class="validation-error"></div>
      {% endif %}
			<input class="mdl-textfield__input" type="password" id="password_confirmation" name="password_confirmation">
	    	<label class="mdl-textfield__label" for="password_confirmation">Password Confirmation</label>
		</div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored sign-up-submit">Submit</button>
  </div>
</div>
</form>

{% endblock content %} 